<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="#" /> 
       <title>Entities</title>
       <link rel="stylesheet" href="/css/fontawesome.min.css">
       <link rel="shortcut icon" href="#" />
       <link rel="stylesheet" href="/css/bootstrap.min.css" >
       <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
       <script  src="/js/solid.js" ></script>
       <script  src="/js/fontawesome.js" ></script>
       <link rel="stylesheet" href="/css/style.css">
      <style>
        @font-face {
             font-family: Alef;
            src:  url('/css/Alef-Regular.ttf') format('truetype');
   }
          body {
   
   font-family: 'Alef';
   background: #fafafaea;
   }
   
      </style>
  </head>

<body>
 
  <div class="wrapper">
    <nav id="sidebar" class="" >
        <div class="sidebar-header d-flex justify-content-center">
            <div class="text-white font-weight-bold" style="align-self: center; font-size: 25px;">Pro Planner</div>
        </div>
        
        <ul class="list-unstyled components ">
            <li class="item"> Home</li>
            <li >
                <a href="/client/" > <i class="fas fa-chart-line"></i> Dashboard</a>
              </li>
            <li class="item"> Employees</li>
            <li>
               <a href="/client/employees" > <i class="fas fa-users"></i> Manage employees</a>
             </li>
             <li class="line"></li>
             <li class="item"> Plannings</li>
             <li>
                <a href="/client/all_plannings"><i class="fas fa-table"></i> All plannings</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="#drop" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-calendar-plus"></i> New planning</a>
                <ul class="collapse list-unstyled" id="drop">
                  
                    <li>
                       <a href="/client/new_manuel_planning"><i class="fas fa-puzzle-piece"></i> Manuel generation</a>
                    </li>
                    <li class="line"></li>
                    <li>
                      <a href="/client/new_auto_planning"><i class="fas fa-bolt"></i> Auto generation</a>
                  </li>
                </ul>
            </li>
            <li class="item"> Entities</li>
            <li class="active">
                <a href="#"><i class="fas fa-pen-square"></i> Define entities</a>
            </li>
            
        </ul>

    </nav>


    <div id="content" >
 <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">

        <a type="button" id="toggle_sidebar" class=" text-white ">
            <i class="fas fa-align-left"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="user d-flex justify-content-center">
                      <img class="rounded-circle" src="/user.png" style="height: 35px; width: 35px;align-self: center;">
                    <div style="padding-left: 10px">
                      <p class="text-white font-weight-bold"> Riyadh Herizi</p>
                      <a class="text-white font-weight-bold" href="#">Logout</a>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid bg-custom" style="padding-left: 40px; ">
  <div class="jumbotron p-2 bg-custom">
    <h1>Entities Manager</h1>
    <p>Here you can add,edit and delete planning components</p>
  </div>
  <div class="row">
    <div class="col-md-3 p-2 shadow text-center">
     <table class="table text-center">
         <thead>
         <tr><th class="bg-primary text-white font-weight-bold">Groups</th></tr>
         </thead>
         <tbody id="groups">
         <% for (var i = 0; i < groups.length ; i++) { %>
             <tr>
                 <td class="text-center"> <button class="btn btn-sm btn-light text-primary bg-white" onclick="show_group(<%= groups[i].id %>)">
                     <%= groups[i].group_name %>
                     </button>  </td>
             </tr>
         <% } %>


         </tbody>
     </table>
        <button class="btn btn-primary btn-sm text-center text-white" data-toggle="modal" data-target="#add_group" >Add group</button>

    </div>
      <div id="view" class="col-md-8 shadow p-1 m-4">
          <div class="container-fluid text-center " style="height: 500px ;display: flex;
justify-content: center;
align-items: center;">

              <h3 class="text-primary">Select a group to see entities</h3>

          </div>



      </div>
  </div>

    </div>
    </div>
</div>
   
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/js/jquery-3.2.1.min.js" ></script>
    <!-- Popper.JS -->
    <script src="/js/popper.min.js" ></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js" ></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
     theme: "minimal"
       });
    });
      $(document).ready(function () {

$("#sidebar").mCustomScrollbar({
     theme: "minimal"
});

$('#toggle_sidebar').on('click', function () {
  document.getElementById("content").classList.toggle("active");
  document.getElementById("sidebar").classList.toggle("active");
    
    $('.collapse.in').toggleClass('in');
    // and also adjust aria-expanded attributes we use for the open/closed arrows
    // in our CSS
    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
});

});
    </script>
    <script src="/js/manage_entities.js"></script>
</body>
<div class="modal fade" id="add_group">
  <div class="modal-dialog modal-md">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h5 class="modal-title">Create new group</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form method="POST" action="">
                  <div class="form-group">
                      <label for="group_name">Group Name</label>
                      <input name="group_name" type="text" class="form-control" id="group_name" required>
                  </div>

              </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="create_group()" >Create</button>
          </div>

      </div>
  </div>
</div>
<div class="modal fade" id="add_entity">
  <div class="modal-dialog modal-md">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h5 class="modal-title">Create new entity</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form method="POST" action="">
                  <div class="form-group">
                      <label for="group_name">Entity Name</label>
                      <input name="entity_name" type="text" class="form-control" id="entity_name" required>
                  </div>
                  <div class="form-group">
                      <label for="group_name">Complexity</label>
                      <input name="complexity" type="number" class="form-control" id="complexity" required>
                  </div>
              </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="create_entity(current_group)" >Create</button>
          </div>

      </div>
  </div>
</div>
<div class="modal fade" id="sub_entity">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h5 class="modal-title">Sub entities</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <div id="model_body"></div>
              <table id="table" class="table text-center">
                  <thead>
                  <tr>
                      <th class="bg-primary text-white font-weight-bold">Sub-Entity name</th>
                      <th class="bg-primary text-white font-weight-bold">Duration</th>
                      <th class="bg-primary text-white font-weight-bold">Complexity</th>
                      <th class="bg-primary text-white font-weight-bold">Number of employees</th>
                      <th class="bg-primary text-white font-weight-bold">Options</th></tr>
                  </thead>
                  <tbody id="sub_entities_table">

                  </tbody>

              </table>

              <button class="btn btn-primary btn-sm text-center text-white m-2" data-toggle="collapse" data-target="#add_new_sub">Add Sub-Entity</button>

             <br> <div id="add_new_sub" class="collapse">
                  <form method="POST" action="">
                      <div class="form-group">
                          <label for="entity_name">Sub-Entity Name</label>
                          <input name="entity_name" type="text" class="form-control" id="sub_entity_name" required>
                      </div>
                      <label for="time">Duration</label>
                      <div id="time" class=" d-flex">
                          <input name="hour" min="0" value="00" max="12" type="number" class="form-control" id="hour" required>
                          <p> &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; </p>
                          <input name="min" min="1" value="00" max="59" type="number" class="form-control" id="min" required>
                      </div>
                      <div class="form-group">
                          <label for="complexity">Complexity</label>
                          <input name="complexity" min="1" type="number" class="form-control" id="complexity_sub" required>
                          <label for="repetition">Repetition</label>
                          <input name="repetition" min="1" type="number" class="form-control" id="repetition" required>
                          <label for="nb_emp">Number of employees</label>
                          <input name="nb_emp" min="1" type="number" class="form-control" id="nb_emp" required>
                      </div>
                  </form>
                  <button class="btn btn-primary btn-sm text-center text-white m-2" data-toggle="collapse" data-target="#add_new_sub" onclick="create_sub_entity()">Confirm</button>
              </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-dismiss="modal" >Ok</button>
          </div>

      </div>
  </div>
</div>
<div class="modal fade" id="responsibles">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Responsible</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="model_body"></div>
                <table id="table2" class="table text-center">
                    <thead>
                    <tr>
                        <th class="bg-primary text-white font-weight-bold">FirstName</th>
                        <th class="bg-primary text-white font-weight-bold">LastName</th>
                        <th class="bg-primary text-white font-weight-bold">Options</th></tr>
                    </thead>
                    <tbody id="users_table">

                    </tbody>

                </table>

                <button class="btn btn-primary btn-sm text-center text-white m-2" data-toggle="collapse" data-target="#new_respo">Add responsible</button>

               <br> <div id="new_respo" class="collapse">
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="select">Choose a employee</label>
                            <select class="custom-select" name="" id="select_emp">
                                <option value="0" selected>Select one</option>
                                <% for (let i = 0; i < users.length ; i++) { %>
                                    <option value="<%=users[i].id%>"  ><%=users[i].firstName%>&nbsp;<%=users[i].lastName%></option>
                                <% } %>
                            </select>
                        </div>
                    </form>
                    <button class="btn btn-primary btn-sm text-center text-white m-2" data-toggle="collapse" data-target="#add_new_sub" onclick="create_respo()">Confirm</button>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" >Ok</button>
            </div>

        </div>
    </div>
</div>