<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>
    <meta charset="UTF-8">
    <title>planning</title>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <style>
        * {
            font-family: Bahnschrift ;
        }
        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }
        #overlay2 {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }
        .cont {
            position: relative;
            width: 100%;
            }
.time {
    height: 66px;
}
            .card-over {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            }

            .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            display:flex;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            
            }

            .cont:hover .card-over {
            opacity: 0.3;
            }

            .cont:hover .middle {
            opacity: 1;
            }
        .move:hover {cursor: move;}
    </style>
</head>
<body style="margin: 10px">
<div id="overlay"  class="bg-white  justify-content-center"  style="opacity: 0.7;">
  <div   class="d-flex justify-content-center" style="align-self: center">
   <div class="spinner-border text-primary"> </div><h5> &nbsp;&nbsp;&nbsp;&nbsp;Saving</h5></let>
</div>
</div>
    <div id="overlay2" onclick="off2()" class="bg-white  justify-content-center"  style="opacity: 0.7;">
        <div   class="d-flex justify-content-center" style="align-self: center">
            <div ><i class="fa fa-trash"></i> </div><h5 class="text-danger"> &nbsp;&nbsp;&nbsp;&nbsp;Ops , Our servers are down</h5></let>
        </div>
    </div>
<div class="container-fluid">
    <input type="hidden" id="id_planning" value="<%=id%>">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  " style="height: 100px;" >
        <table  class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center text-primary "><h4 class="font-weight-normal">Sub-entities</h4></th>
            </tr>
            </thead>
            <tbody >

            <tr >
                <td >
                 <div style="height:650px; overflow:scroll; padding: 10px"  id="entities"  class="bg-primary" ondrop="drop(event)" ondragover="allowDrop(event)">

                 </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 " style="padding: 0px;">
          <a href="#times" class="btn btn-outline-primary btn-sm" style="margin-bottom: 5px" data-toggle="collapse"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Manage time for days :</a>
          <button onclick="save()" class="btn btn-outline-success btn-sm float-right" style="margin-bottom: 5px" ><i class="fa fa-save"></i>&nbsp;&nbsp;Save </button>
        <div class="table-responsive">
          <table class="table text-center">
              <thead class="text-primary"style="background:#ffffff;border: 1px solid rgb(103, 128, 240)">

                  <tr id="times" class="collapse bg-primary" style="position: absolute;z-index: 3;">
                     <div>
                         <td></td>
                         <td>
                             <h4 class="text-white">Sunday</h4>
                          <label class="form-check-label text-white">
                              <input class="form-check-input" id="check_box-0" onclick="switch_day(0)" type="checkbox" checked> Work day
                          </label>
                          <div class="form-group row">
                              <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                              <div class="col-10">
                                  <input onchange="update_empty(this,0)" class="form-control" type="time" value="08:00" id="time-empty-0">
                              </div>
                          </div>

                      </td>
                         <td>
                            <h4 class="text-white">Monday</h4>
                             <label class="form-check-label text-white">
                                 <input class="form-check-input"  onclick="switch_day(1)" id="check_box-1" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,1)" class="form-control" type="time" value="08:00" id="time-empty-1">
                                 </div>
                             </div>

                         </td>
                         <td>
                            <h4 class="text-white">Tuesday</h4>
                             <label class="form-check-label text-white">
                                 <input class="form-check-input" onclick="switch_day(2)"  id="check_box-2" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,2)" class="form-control" type="time" value="08:00" id="time-empty-2">
                                 </div>
                             </div>

                         </td>
                         <td>
                            <h4 class="text-white">Wednesday</h4>
                             <label class="form-check-label text-white">
                                 <input class="form-check-input" onclick="switch_day(3)" id="check_box-3" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,3)" class="form-control" type="time" value="08:00" id="time-empty-3">
                                 </div>
                             </div>

                         </td>
                         <td>
                            <h4 class="text-white">Thursday</h4>
                             <label class="form-check-label text-white">
                                 <input class="form-check-input" onclick="switch_day(4)" id="check_box-4" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,4)" class="form-control" type="time" value="08:00" id="time-empty-4">
                                 </div>
                             </div>

                         </td>
                         <td>
                            <h4 class="text-white">Friday</h4>
                             <label class="form-check-label text-white">
                                 <input class="form-check-input" onclick="switch_day(5)" id="check_box-5" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,5)" class="form-control" type="time" value="08:00" id="time-empty-5">
                                 </div>
                             </div>

                         </td>
                         <td> 
                            <h4 class="text-white">Saturday</h4>
                             <label class="form-check-label text-white">
                                 <input class="form-check-input"  onclick="switch_day(6)" id="check_box-6" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row ">
                                 <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,6)" class="form-control" type="time" value="08:00" id="time-empty-6">
                                 </div>
                             </div>

                         </td>

                         </div>

                  </tr>


              <tr style="z-index: 1;">
                  <th scope="col">timeline</th>
                  <th scope="col">Sunday</th>
                  <th scope="col">Monday</th>
                  <th scope="col">Tuesday</th>
                  <th scope="col">Wednesday</th>
                  <th scope="col">Thursday</th>
                  <th scope="col">Friday</th>
                  <th scope="col">Saturday</th>
              </tr>
              </thead>
              <tbody style="z-index: 1;" >
              <tr>
                  <td class="vertical-time" id="vertical-time">


                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-0" style="margin-bottom: 5px;"></div>

                      <div id="0"
                            ondrop="drop(event)" ondragover="allowDrop(event,this)"  style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                      </div>
                      <button id="gap-0" data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(0)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-1" style="margin-bottom: 5px;"></div>

                      <div id="1"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-1"  data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(1)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button></td>

                  <td>
                    <div class="card bg-primary" id="empty-2" style="margin-bottom: 5px;"></div>

                      <div id="2"
                           ondrop="drop(event)" ondragover="allowDrop(event)" ondragend="" style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-2" data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(2)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-3" style="margin-bottom: 5px;"></div>

                      <div id="3"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px">
                        </div>
                      <button id="gap-3" data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(3)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-4" style="margin-bottom: 5px;"></div>

                      <div id="4"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-4" data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(4)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-5" style="margin-bottom: 5px;"></div>

                      <div id="5"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-5" data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(5)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-6" style="margin-bottom: 5px;"></div>

                      <div id="6"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px">
                        </div>
                      <button id="gap-6" data-toggle="modal" data-target="#new_gap" class="btn btn-outline-primary btn-sm" onclick="add_gaps(6)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>
        </div>

      </div>
  </div>
</div>
</body>
<script>
    var notyf = new Notyf({
        types: [
            {
                type: 'warning',
                background: 'orange',
                icon: {
                    className: 'material-icons',
                    tagName: 'i',
                    text: 'warning'
                }
            }
        ]});
    var work_days=[
        <%= days.charAt(0) %>,
        <%= days.charAt(1) %>,
        <%= days.charAt(2) %>,
        <%= days.charAt(3) %>,
        <%= days.charAt(4) %>,
        <%= days.charAt(5) %>,
        <%= days.charAt(6) %>,
    ];

      var times =
          [
              {start:{hour:8, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},current:{hour:8, min:0}},
      ];


      var sub_entities = [

    <% if(check){

     %>
          <% for (let i = 0; i < sub_entities.length ; i++) { %>
          {
            id: <%=sub_entities[i].id %>,
            name : "<%= sub_entities[i].name %>",
            entity_name: "<%= sub_entities[i].entity.name %>" ,
            entity_id: "<%= sub_entities[i].entity.id %>" ,
            emp_number : <%= sub_entities[i].nb_emp %>,
            emp: [],
            start : {hour: <%=sub_entities[i].positions[0].start.split(":")[0] %> , min : <%=sub_entities[i].positions[0].start.split(":")[1]%>},
            end : {hour: <%=sub_entities[i].positions[0].end.split(":")[0]%>, min : <%=sub_entities[i].positions[0].end.split(":")[1]%>},
            day: <%=sub_entities[i].positions[0].day%> ,
            hours: <%= sub_entities[i].hours %>,
            min: <%= sub_entities[i].min %>,
            complex : <%= sub_entities[i].complex %>,
              entity_complex : <%= sub_entities[i].entity.complex %>,
          } ,


        <% }%>


      
      <% } else { %>
        <% for (let i = 0; i < sub_entities.length ; i++) { %>
          {
            id: <%=sub_entities[i].id %>,
            name : "<%= sub_entities[i].name %>",
            entity_name: "<%= sub_entities[i].entity.name %>" ,
            entity_id: "<%= sub_entities[i].entity.id %>" ,
            emp_number : <%= sub_entities[i].nb_emp %>,
            emp: [],
            start : {hour: 0 , min : 0},
            end : {hour: 0, min : 0},
            day: -1 ,
            hours: <%= sub_entities[i].hours %>,
            min: <%= sub_entities[i].min %>,
            complex : <%= sub_entities[i].complex %>,
              entity_complex : <%= sub_entities[i].entity.complex %>,


          } ,

        <% }%>
        <% } %>
        ]



</script>
<script src="/planning.js"></script>

<div class="modal fade" id="responsible">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Manage responsible</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="responsible_list"method="POST" action="">

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"  data-dismiss="modal" onclick="set_responsible()" >Ok</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="new_gap">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">New gap :</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form  method="POST" action="">
                    <label for="time">Duration</label>
                    <div id="time" class=" d-flex">
                        <input name="hour" min="0" value="00" max="12" type="number" class="form-control" id="hour_num" required>
                        <p> &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; </p>
                        <input name="min" min="1" value="00" max="59" type="number" class="form-control" id="min_num" required>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"  data-dismiss="modal" onclick="confirm_gap()" >Confirm</button>
            </div>

        </div>
    </div>
</div>
</html>
