<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>
    <meta charset="UTF-8">
    <title>planning</title>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .cont {
            position: relative;
            width: 100%;
            }

            .card-over {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            }

            .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            display:flex;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            
            }

            .cont:hover .card-over {
            opacity: 0.3;
            }

            .cont:hover .middle {
            opacity: 1;
            }

    </style>
</head>
<body style="margin: 10px">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 display-inline-block " style="height: 100px;" >
        <table  class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center text-primary">Sub-entities</th>
            </tr>
            </thead>
            <tbody >

            <tr >
                <td >
                 <div style="height:600px; overflow:scroll; padding: 10px"  id="entities"  class="bg-primary" ondrop="drop(event)" ondragover="allowDrop(event)">


                 </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 display-inline-block" style="padding: 0px;">
          <a href="#times" class="btn btn-outline-primary btn-sm" style="margin-bottom: 5px" data-toggle="collapse"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Manage time for days :</a>
        <div class="table-responsive">
          <table class="table text-center">
              <thead class="text-primary"style="background:#ffffff;border: 1px solid rgb(103, 128, 240)">

                  <tr id="times" class="collapse">
                     <div>
                         <td>
                          <label class="form-check-label">
                              <input class="form-check-input" id="check_box-0" onclick="switch_day(0)" type="checkbox" checked> Work day
                          </label>
                          <div class="form-group row">
                              <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                              <div class="col-10">
                                  <input onchange="update_empty(this,0)" class="form-control" type="time" value="08:00" id="time-empty-0">
                              </div>
                          </div>

                      </td>
                         <td>
                             <label class="form-check-label">
                                 <input class="form-check-input"  onclick="switch_day(1)" id="check_box-1" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,1)" class="form-control" type="time" value="08:00" id="time-empty-1">
                                 </div>
                             </div>

                         </td>
                         <td>
                             <label class="form-check-label">
                                 <input class="form-check-input" onclick="switch_day(2)"  id="check_box-2" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,2)" class="form-control" type="time" value="08:00" id="time-empty-2">
                                 </div>
                             </div>

                         </td>
                         <td>
                             <label class="form-check-label">
                                 <input class="form-check-input" onclick="switch_day(3)" id="check_box-3" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,3)" class="form-control" type="time" value="08:00" id="time-empty-3">
                                 </div>
                             </div>

                         </td>
                         <td>
                             <label class="form-check-label">
                                 <input class="form-check-input" onclick="switch_day(4)" id="check_box-4" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,4)" class="form-control" type="time" value="08:00" id="time-empty-4">
                                 </div>
                             </div>

                         </td>
                         <td>
                             <label class="form-check-label">
                                 <input class="form-check-input" onclick="switch_day(5)" id="check_box-5" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row">
                                 <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,5)" class="form-control" type="time" value="08:00" id="time-empty-5">
                                 </div>
                             </div>

                         </td>
                         <td>
                             <label class="form-check-label">
                                 <input class="form-check-input"  onclick="switch_day(6)" id="check_box-6" type="checkbox" checked> Work day
                             </label>
                             <div class="form-group row ">
                                 <label for="example-time-input" class="col-2 col-form-label">Start:</label>
                                 <div class="col-10">
                                     <input onchange="update_empty(this,6)" class="form-control" type="time" value="08:00" id="time-empty-6">
                                 </div>
                             </div>

                         </td>

                         </div>

                  </tr>


              <tr>
                  <th scope="col">Sunday</th>
                  <th scope="col">Monday</th>
                  <th scope="col">Tuesday</th>
                  <th scope="col">Wednesday</th>
                  <th scope="col">Thursday</th>
                  <th scope="col">Friday</th>
                  <th scope="col">Saturday</th>
              </tr>
              </thead>
              <tbody >
              <tr>
                  <td>
                    <div class="card bg-primary" id="empty-0" style="margin-bottom: 5px;"></div>

                      <div id="0"
                            ondrop="drop(event)" ondragover="allowDrop(event,this)"  style="margin:auto;width: 120px ; height: auto;padding-bottom: 50px" >
                      </div>
                      <button id="gap-0" class="btn btn-outline-primary btn-sm" onclick="add_gaps(0)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-1" style="margin-bottom: 5px;"></div>

                      <div id="1"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px ; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-1" class="btn btn-outline-primary btn-sm" onclick="add_gaps(1)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button></td>

                  <td>
                    <div class="card bg-primary" id="empty-2" style="margin-bottom: 5px;"></div>

                      <div id="2"
                           ondrop="drop(event)" ondragover="allowDrop(event)" ondragend="" style="width: 120px ; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-2" class="btn btn-outline-primary btn-sm" onclick="add_gaps(2)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-3" style="margin-bottom: 5px;"></div>

                      <div id="3"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px ; height: auto;padding-bottom: 50px">
                        </div>
                      <button id="gap-3" class="btn btn-outline-primary btn-sm" onclick="add_gaps(3)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-4" style="margin-bottom: 5px;"></div>

                      <div id="4"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px ; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-4" class="btn btn-outline-primary btn-sm" onclick="add_gaps(4)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-5" style="margin-bottom: 5px;"></div>

                      <div id="5"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px ; height: auto;padding-bottom: 50px" >
                        </div>
                      <button id="gap-5" class="btn btn-outline-primary btn-sm" onclick="add_gaps(5)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
                  <td>
                    <div class="card bg-primary" id="empty-6" style="margin-bottom: 5px;"></div>

                      <div id="6"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px ; height: auto;padding-bottom: 50px">
                        </div>
                      <button id="gap-6" class="btn btn-outline-primary btn-sm" onclick="add_gaps(6)" style="margin-bottom: 5px; height: 40px; width:100%">
                          <i class="fa fa-plus"></i>
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>
        </div>

      </div>
  </div>


</div>




</body>
<script>

    function allowDrop(ev,e) {
        ev.preventDefault();

    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var x = document.getElementById(data)
        var sub_entity_id= x.id;
        var day_id= ev.target.id;
        if( ev.target.id != "" ) {
        var card= get(sub_entity_id.substring(5, sub_entity_id.length));
        console.log(card)
        var height= ((card.hours*60)+card.min)*1.1;
        document.getElementById("card-"+sub_entity_id.substring(5, sub_entity_id.length)).style.height =height+"px";
        document.getElementById("duration-"+sub_entity_id.substring(5, sub_entity_id.length)).style.display="none"
        ev.target.appendChild(x);
        document.getElementById("restore-"+sub_entity_id.substring(5, sub_entity_id.length)).style.display ="block"
        document.getElementById("emp-"+sub_entity_id.substring(5, sub_entity_id.length)).style.display ="block"
        affecte_day(sub_entity_id.substring(5, sub_entity_id.length),day_id)
        affecte_time(sub_entity_id.substring(5, sub_entity_id.length),day_id)
    }
    }
      var times =
          [
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
              {start:{hour:8, min:0},end:{hour:17, min:0},current:{hour:8, min:0}},
      ];
      var sub_entities = [
          <% for (let i = 0; i < sub_entities.length ; i++) { %>
          {
            id: <%=sub_entities[i].id %>,
            name : "<%= sub_entities[i].name %>",
            entity_name: "<%= sub_entities[i].entity.name %>" ,
            entity_id: "<%= sub_entities[i].entity.id %>" ,
            emp_number : <%= sub_entities[i].nb_emp %>,
            emp: [],
            start : {hour: 0 , min : 0},
            end : {hour: 0, min : 0},
            day: -1 ,
            hours: <%= sub_entities[i].hours %>,
            min: <%= sub_entities[i].min %>
          } ,

        <% }%>


      ]

    $(function() {
        $( "#0" ).sortable(); 
        $( "#1" ).sortable();
        $( "#2" ).sortable();
        $( "#3" ).sortable();
        $( "#4" ).sortable(); 
        $( "#6" ).sortable();
        $( "#5" ).sortable();
    });

</script>
<script>
    var x ="";
    for (var i = 0; i < sub_entities.length ; i++) {
        x=x+"  <tr ><td>\n" +
            "               <div id=\"card-"+sub_entities[i].id +"\" class=\"card shadow text-center cont\" style=\" margin-bottom:5px;background:#ffffff;border: 1px solid rgb(103, 128, 240)\" draggable=\"true\" ondragstart=\"drag(event)\" >\n" +
            "                        <div class=\"card-body card-over\" style=\"padding: 3px 3px 0px 3px; \">\n" +
            "                        <div class=\"card-title d-flex justify-content-between\" style=\"margin-bottom:0px\">\n" +
            "                                               <h5 class=\"card-title\" style=\"font-size: 15px\"> "+sub_entities[i].name +"</h5>\n" +
            "                                                <h5 class=\"card-title text-primary\" id='duration-"+sub_entities[i].id+"' style=\"font-size: 15px\">"+ sub_entities[i].hours+"h"+sub_entities[i].min+"min</h5>\n" +
            "                                                <h6 id=\"time-"+sub_entities[i].id+"\" class='card-title' ></h6>"+
            "                                            </div>\n" +
            "                                           <h5 class=\"card-title text-primary\" style=\"font-size: 15px;\">"+ sub_entities[i].entity_name+" </h5>\n" +

            "                                          " +
            " </div>\n" +
            "<div class=' justify-content-around middle'> " +
            "<button id='restore-"+sub_entities[i].id+"' style='display: none' onclick='restore("+sub_entities[i].id+")' class='  btn btn-outline-primary btn-sm'><i class='fa fa-trash'></i></button>" +
            " <div class=\"dropdown\"> " +
            "<button id='emp-"+sub_entities[i].id+"' data-toggle=\"modal\" data-target=\"#responsible\" onclick='get_responsible("+sub_entities[i].entity_id+","+sub_entities[i].emp_number+","+sub_entities[i].id+")' style='display: none'  class='btn btn-outline-primary btn-sm'><i class='fa fa-users'></i></button>" +
            "</div>   </div>                   <h6 id=\"time-"+sub_entities[i].id+"\" class='card-title' ></h6>  " +
            "   </div>\n" +
            "         </td>\n" +
            "                </tr>";
    }




    document.getElementById("entities").innerHTML=x;

function affecte_day(id,day) {
    for(var i=0; i<sub_entities.length; i++) {
        if(sub_entities[i].id==id) {
            sub_entities[i].day = day
        }
    }
}
function get(id) {
        for(var i=0; i<sub_entities.length; i++) {
            if(sub_entities[i].id==id) {
                return sub_entities[i]
            }
        }
    }

    function affecte_time(id,day) {
        for(var i=0; i<sub_entities.length; i++) {
            if(sub_entities[i].id==id) {
                var hour =  times[day].current.hour + sub_entities[i].hours;
                var min =  times[day].current.min + sub_entities[i].min;
                if(min>59){
                    hour= hour+1;
                    min=min-60;
                }
                sub_entities[i].start.hour =times[day].current.hour;
                sub_entities[i].start.min = times[day].current.min;
                sub_entities[i].end.hour = hour;
                sub_entities[i].end.min = min;
                times[day].current.hour=hour;
                times[day].current.min=min;
                document.getElementById("time-"+id).innerText=sub_entities[i].start.hour+":"+sub_entities[i].start.min+" - "+
                    sub_entities[i].end.hour+":"+sub_entities[i].end.min;
                console.log(times[day])
                console.log(sub_entities[i])
            }
        }
    }
  function restore(id) {
    var restore = document.getElementById("card-"+id)
      document.getElementById("time-"+id).innerText=""
      document.getElementById("restore-"+id).style.display="none"
      document.getElementById("emp-"+id).style.display="none"
      document.getElementById("entities").appendChild(restore)
      document.getElementById("card-"+id).style.height="auto"
      console.log(document.getElementById("duration-"+id).style.display)
      document.getElementById("duration-"+id).style.display="block"   
      console.log(document.getElementById("duration-"+id).style.display)
         

  }
  function update_empty(e,id) {
    times[id].start.hour=document.getElementById("time-empty-"+id).value.split(":")[0];
    times[id].start.min=document.getElementById("time-empty-"+id).value.split(":")[1];
    console.log(times[id])
    var empty=document.getElementById("time-empty-0").value;
      for(let i=1;i<7;i++){
          var temp=document.getElementById("time-empty-"+i).value;
        if(temp.split(":")[0]<empty.split(":")[0]){
            empty=temp;
        }else if(temp.split(":")[0]==empty.split(":")[0]){
            if(temp.split(":")[1]<empty.split(":")[1]){
                empty=temp;
            }
        }
      }
      for(let i=0;i<7;i++){
          var card = document.getElementById("empty-"+i);
          var time = document.getElementById("time-empty-"+i).value;
            
          card.style.height=Math.abs(1.1*(((time.split(":")[0]-empty.split(":")[0])*60)-Math.abs(time.split(":")[1]-empty.split(":")[1])))+"px"
      }
  }
  function update_time_day(){

  }
    function get_responsible(id,emp_number,sub_entity_id) {
        current_entity=id;
        $.ajax({
            url: '/client/get_responsible',
            type: 'POST',
            cache: false,
            data: {
                id_entity :id
            },
            success: function(data){
                console.log("executed")
                var x ="";
                var empty = true;
                for (var i = 0; i < data.users.length ; i++) {
                    empty=false;
                  x =x +"<option value='"+data.users[i].id+"'>"+data.users[i].firstName+" "+data.users[i].lastName+"</option>"
                }
                if(empty) {
                document.getElementById("responsible_list").innerHTML ="<h5 class=\"text-primary\">This entity has no responsible</h5>";
                }
                else {
                    document.getElementById("responsible_list").innerHTML ="";
                    for(let i=0;i<emp_number;i++) {
                        document.getElementById("responsible_list").innerHTML =  document.getElementById("responsible_list").innerHTML +
                            "<div class=\"form-group\">\n" +
                            "  <select class=\" form-control\" id=\"sel-"+sub_entity_id+"-"+i+"\">\n" +
                                     x+
                            "  </select>\n" +
                            "</div>"
                    }

                }

            }
            , error: function(jqXHR, textStatus, err){
                alert('status '+textStatus+', err '+err)
            }
        })
    }
 function switch_day(day) {
    var check= document.getElementById("check_box-"+day);
    if(check.checked=== false ) {
       document.getElementById(day).classList.add("bg-secondary");
        document.getElementById(day).style.height="600px";
        document.getElementById(day).classList.remove("bg-white");
       document.getElementById("time-empty-"+day).disabled=true;
       document.getElementById("gap-"+day).style.display="none";
       document.getElementById(day).addEventListener("drop", null);
       update_empty_after(day);
       for(let i =0 ;i< sub_entities.length;i++) {
           console.log(sub_entities[i].day===day)
           if(sub_entities[i].day==day){
               restore(sub_entities[i].id)
           }
       }
    }
    else {

        document.getElementById(day).classList.remove("bg-secondary");
        document.getElementById("time-empty-"+day).disabled=false;
        document.getElementById(day).style.height="0px";
        document.getElementById("gap-"+day).style.display="block";
        document.getElementById(day).classList.add("bg-white");
        update_empty(null,day);
    }

 }
    function update_empty_after(id) {

      var num = id % 6 +1;
        var empty=document.getElementById("time-empty-"+num).value;
        for(let i=1;i<7;i++){
            if(i!== id) {
            var temp=document.getElementById("time-empty-"+i).value;
            if(temp.split(":")[0]<empty.split(":")[0]){
                empty=temp;
            }else if(temp.split(":")[0]==empty.split(":")[0]){
                if(temp.split(":")[1]<empty.split(":")[1]){
                    empty=temp;
                }
            }
            }
        }
        for(let i=0;i<7;i++){

            var card = document.getElementById("empty-"+i);
            var time = document.getElementById("time-empty-"+i).value;
                 if(i!== id) {  card.style.height=Math.abs(1.1*(((time.split(":")[0]-empty.split(":")[0])*60)-Math.abs(time.split(":")[1]-empty.split(":")[1])))+"px"
        } else {
                     card.style.height=0+"px"
                 }
        }
    }
</script>
<div class="modal fade" id="responsible">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Manage responsible</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="responsible_list"method="POST" action="">

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"  data-dismiss="modal" onclick="set_responsible()" >Ok</button>
            </div>

        </div>
    </div>
</div>
</html>
